.uni-form { color: #010101; font-size: 12px; font-family: Arial, Helvetica, sans-serif; background: #c7b7e2; padding: 5px 5px 0; position: relative; margin: 0 0 15px; }
.uni-form-nomarg {margin:0;}
.uni-form-tbl-wrap {width: 100%; border-collapse: collapse; border-spacing: 0;}
.uni-form-td-wrap { border-bottom: 5px solid #c7b7e2; background: #f5f1fc; }
.uni-form-row {padding: 3px 0 0 3px;}
.uni-form-row_br {border-bottom: 1px solid #c7b7e2;}
.uni-form-tbl {}
.uni-form-td {height: 34px; padding: 0 3px 3px 0;}
.uni-form-td-lvl2 {height:34px; padding:0 3px 0 0;}
.uni-form-td-indent {padding-left: 10px;}
.uni-form-list {height: 30px; padding: 1px 30px 1px 10px; position: relative; border: 1px solid #dcdcdc; background:#fff;}
.uni-form-list-btn {display: block; width: 30px; height: 32px; position: absolute; top: 0; right: 0; border-left: 1px solid #fff; background: #fff url(../i/icon-list.png) no-repeat 50% 50%;}
.uni-form-list-btn:hover {border-left: 1px solid #f2f2f2; background: #fffbd8 url(../i/icon-list2.png) no-repeat 50% 50%;}
.uni-form-prompt {display: block; height: 32px; position: absolute; top: 0; right: 10px; font-size: 11px; line-height: 32px;}
.uni-form-prompt-a {color: #0b80c4; text-decoration: none;}
.uni-form-prompt-a:hover {text-decoration: underline;}
.uni-form-inp-wrap {height: 30px; padding: 1px 10px; position: relative; border: 1px solid #dcdcdc; background: #fff; padding-top: 0; padding-bottom: 0;}
.uni-form-inp-wrap_tarea {height: 90px;padding-right: 0;}
.uni-form-inp {width: 100%; height: 30px; padding: 0; margin: 0; color: #010101; font-size: 12px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; line-height: 30px; border: 0 none; background: #fff; outline: 0 none!important;}
.uni-form-inp_tarea {height: 70px; line-height: 16px; padding-top: 10px; padding-bottom: 10px; resize: none;}
.uni-form-inp::-webkit-input-placeholder {color: #999; font-weight: normal;}
.uni-form-inp::-moz-placeholder {color: #999; font-weight: normal;}
.uni-form-capt {padding: 0 5px 0 10px; white-space: nowrap;}
.uni-form-sur {padding: 0 3px; white-space: nowrap;}
.uni-form-calend {display: inline-block; padding:0;}
.uni-form-calend-nobg {background:none; padding:0;}
.uni-form-calend-tab {display: inline-block; height: 30px; padding: 0 8px; margin: 0 -5px 0 -10px; line-height: 30px; border: 1px solid #fff; cursor: pointer; position:relative;}
.uni-form-calend-tab_active {border: 1px solid #dcdcdc;}
.uni-form-calend-tab .uni-form-dd-wline {height:4px; bottom:4px; display:none;}
.uni-form-calend-tab_active .uni-form-dd-wline {display:block;}
.uni-form-dd-hline {position:absolute; top:8px; left:1px; width:7px; height:15px; background:#fff; z-index:11; display:none;}
.uni-form-dd-hrline {position:absolute; top:19px; right:1px; width:24px; height:4px; background:#fff; z-index:48 !important; display:none;}
.uni-form-calend-tab_active, .uni-form-dd-hrline, .uni-form-calend-tab_active .uni-form-dd-hline {display:block; z-index:100; background:#fff;}

.uni-form-calend-date {font-weight: bold;}
.uni-form-calend-day {color: #999;}
.uni-form-calend-inp {width: 1px; margin-right: -2px; color: #fff; font-size: 0px; font-family: Arial, Helvetica, sans-serif; border: 0 none; background: 0 none;}
.uni-form-drop {display: inline-block; padding: 0 8px 0 0; margin-right: 10px; line-height: 1.3; background: url(../i/arr-000000.gif) no-repeat 100% 50%;}
.uni-form-grey {color: #999;}
.uni-form-grey-000 {color:#000;}
.uni-form-dash-000000 {color: #000; text-decoration: none; background: url(../i/dash-000000.png) repeat-x 0 100%;}
.uni-form-dash-d81f1f {color: #d81f1f; text-decoration: none; background: url(../i/dash-d81f1f.png) repeat-x 0 100%;}
.uni-form-dash-0b80c4 {color: #0b80c4; text-decoration: none; background: url(../i/dash-0b80c4.png) repeat-x 0 100%;}
.uni-form-dash-c8242b {color: #c8242b; text-decoration: none; background: url(../i/dash-c8242b.png) repeat-x 0 100%;}
.uni-form .sbHolder {font-size: 12px; height: 32px; line-height: 32px; border: 1px solid #dcdcdc;}
.uni-form .selectBox-options li a  {font-size: 12px;}
.uni-form-check-group {color:#999;}
.uni-form-check { margin: -2px 2px 0 0; vertical-align: middle;}
.uni-form-label {margin:0 7px 0 0; color:#000; cursor:pointer;}
.uni-form-check-group .uni-form-label {margin:3px 7px 3px 0; display:inline-block; white-space:nowrap;}
.uni-form-var {vertical-align: middle;}
.uni-form-var_curr {color: #66a449;}
.uni-form-rate {float: right; vertical-align: middle;}
.uni-form-rate4 {color: #66a449;}
.uni-form-rate3 {color: #c3b453;}
.uni-form-rate2 {color: #a87575;}
.uni-form-star {font-size: 11px; font-style: normal;}
.uni-form-btn { display: block; width: 100%; height: 30px; padding: 0; margin: 0; color: #fff; font-size: 11px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; text-transform: uppercase; border: 0 none; background: #a699bd url(../i/btn-uni-1.png) no-repeat 100% 50%; cursor: pointer;}
a.uni-form-btn { display: inline-block; width: auto; line-height: 34px; text-decoration: none;}
.uni-form-btn_slim {height: 34px;}
.uni-form-btn-wrap {width: 115px; float: right;}
.uni-form-regular {font-weight: normal!important;}

.uni-form-td-wrap_last {background: #c7b7e2;}
.uni-form-td-wrap_last .uni-form-ext-link {color: #fff;}
.uni-form-pp-submit-a {background: #a699bd;}

.uni-form-blue {background:#bcd4e7;}
.uni-form-blue .uni-form-td-wrap {border-bottom-color:#bcd4e7; background:#fff;}
.uni-form-blue .uni-form-td-wrap_last {background:#bcd4e7;}
.uni-form-blue .uni-form-btn {background:#0b80c4 url(../i/btn-uni-4.gif) no-repeat right 50%; height:34px;}
.uni-form-td-wrap-line {border-bottom:1px solid #bcd4e7; background: #fff;}
.uni-form-td-wrap-line-active {z-index:50;}
.uni-form-td-wrap-prelast {border-bottom:2px solid #bcd4e7; background: #fff;}
.uni-form .uni-form-sel-disctr {font-size: 12px; height: 32px; line-height: 32px; border: 1px solid #dcdcdc; display:block;}
.uni-form-td-padl10 {padding-left:10px;}
.uni-form .uni-form-sel-red {font-size: 12px; height: 32px; line-height: 32px; border: 1px solid #dcdcdc; display:block; color:#c8242b;}
.uni-form .uni-form-sel-red .sbSelector {color:#c8242b;}
.uni-form-btn4 {text-align:left; width:143px; display:block; float: right;  padding-left:7px;}
.uni-form-btn5 {padding-right:19px; white-space: nowrap;}
.uni-form-link-d81f1f {color: #d81f1f; text-decoration: none;}
.uni-form-link-d81f1f:hover {text-decoration: underline;}

.uni-form-dd {position: relative; z-index: 1;}
.uni-form-dd-list {height: 30px; padding: 1px 35px 1px 10px; position: relative; border: 1px solid #dcdcdc; background:#fff;}
.uni-form-dd-inp {width: 100%; height: 30px; padding: 0; margin: 0; color: #010101; font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 30px; border: 0 none; background: #fff; outline: 0 none!important;}
.uni-form-dd-inp_red {color: #c8242b;}
.uni-form-dd-inp_rg {font-weight: normal;}
.uni-form-dd-list_arr {padding: 1px 10px; cursor: pointer;}
.uni-form-dd-curr {display: block; height: 30px; padding: 0 10px 0 0; color: #010101; font-size: 12px; line-height: 30px; background: url(../i/sel-drop-big.png) no-repeat 100% 50%; cursor: pointer;}
.uni-form-dd-list_clr {border: 1px solid #fff;}
.uni-form-dd-list-btn {display: block; width: 30px; height: 31px; position: absolute; top: 0; right: 0; border-left: 1px solid #fff; background: #fff url(../i/icon-list.png) no-repeat 50% 50%; z-index:301;}
.uni-form-dd-list-btn:hover {border-left: 1px solid #f2f2f2; background: #fffbd8 url(../i/icon-list2.png) no-repeat 50% 50%;}
.uni-form-dd-cnt {display: none; min-width: 100%; position: absolute; top: 32px; left: 0; background: #fff; overflow: hidden; z-index: 500;}
.uni-form-dd-cnt3 {width:145px;}
.uni-form-dd-wline {position:absolute; bottom:1px; left:0; width:100%; height:8px; background:#fff; z-index:300;}
.uni-form-dd-list .uni-form-dd-wline {height:9px; margin-right:30px; right:0;}
.uni-form-dd-cnt-dot {border: 1px solid #dcdcdc;}
.uni-form-dd-capt {width: 180px; float: left; overflow-y: auto;}
.uni-form-dd-i {padding: 8px 10px 7px; font-size: 12px; border-bottom: 1px solid #f2f2f2; overflow: hidden; cursor: pointer; white-space: nowrap;}
.uni-form-dd-i-sel {padding: 8px 7px 7px; font-size: 11px; border-bottom: 1px solid #f2f2f2; overflow: hidden; cursor: pointer; white-space: nowrap;}
.uni-form-dd-i:hover, .uni-form-dd-i_current, .uni-form-dd-i_active {background: #fffbd8;}
.uni-form-dd-count {color: #999;}
.uni-form-dd-tabs {max-height: 224px; border-left: 1px solid #f2f2f2; overflow-y: auto;}
.uni-form-pp-tbl {padding: 7px 0 8px;}
.uni-form-pp-td {padding: 3px 0 2px;}
.uni-form-pp-td1 {padding: 3px 0 2px 10px;}
.uni-form-pp-td2 {padding: 3px 2px 2px; color: #ccc;}
.uni-form-pp-td3 {padding: 3px 0 2px 5px;}
.uni-form-pp-td4 {padding: 3px 10px 2px 5px;}
.uni-form-pp-td5 {padding: 3px 10px 2px; white-space: nowrap;}
.uni-form-dd-tabs-wrap {height: 410px; overflow: hidden;}
.uni-form-dd-abc {width: 25px; float: left; background: #f2f2f2;}
.uni-form-dd-abc-i {text-align: center; line-height: 13px;}
.uni-form-dd-abc-i-a {font-size: 10px; text-decoration: none; text-align: center;}
.uni-form-dd-abc-i:first-child .uni-form-dd-abc-i-a {color: #c8242b;}
.uni-form-dd-switch {height: 28px; padding: 0 10px; background: #f2f2f2; line-height: 26px; font-size: 11px;}
.uni-form-dd-switch-a {margin-right: 5px; text-decoration: none; background: url(../i/dash-0b80c4.png) repeat-x 0 100%;}
.uni-form-dd-switch-a_current {margin-right: 5px; text-decoration: none; color: #000; background: url(../i/dash-000000.png) repeat-x 0 100%;}
.uni-form-dd-switch2 {float: right; height: 28px; padding-top: 5px; line-height: 26px; font-size: 11px;}
.uni-form-dd-switch-a {margin-right: 4px; text-decoration: none; background: url(../i/dash-0b80c4.png) repeat-x 0 100%;}
.uni-form-dd-alfa {max-height: 250px; margin: 10px 0; border-top: 1px solid #f2f2f2; border-bottom: 1px solid #f2f2f2; overflow-y: auto;}
.uni-form-dd-alfa-i {padding-top: 10px; overflow: hidden;}
.uni-form-dd-alfa-let {width: 30px; height: 30px; margin-right: 20px; float: left; font-size: 14px; font-weight: bold; text-align: center; line-height: 30px; background: #f0f0f0;}
.uni-form-dd-alfa-ul {padding-top: 5px; overflow: hidden;}
.uni-form-dd-alfa-li {width: 140px; margin: 0 5px 4px 0; float: left;}
.uni-form-dd-alfa-li span {display: inline-block; padding-right: 10px;}
.uni-form-dd-alfa-chk {color: #239f28; background: url(../i/chk.png) no-repeat 100% 50%; cursor: pointer;}
.uni-form-dd-notice {font-size: 10px;}
.uni-form-dd-notice img {vertical-align: middle;}
.uni-form-dash-wrap {padding: 10px; background: #f4f4f4; font-size: 11px;}


.uni-form-dd-cnt_2col {width: 363px;}
.uni-form-dd-cnt_2col .uni-form-dd-tab {display: none;}
.uni-form-dd-cnt_narr {min-width: 175px;}
.uni-form-dd-cnt_ls {min-width: 175px;}
.uni-form-dd-cnt_narr .uni-form-dd-i {border: 0 none;}
#uni-form-from .uni-form-dd-capt, #uni-form-from .uni-form-dd-tabs {max-height: 140px;}
#uni-form-hotel .uni-form-dd-cnt2 .uni-form-dd-i {background: #fff url(../i/uni-form-line.png) repeat-y 100% 0;}
#uni-form-hotel .uni-form-dd-cnt2 .uni-form-dd-i:hover {background: #fffbd8 url(../i/uni-form-line.png) repeat-y 100% 0;}
#uni-form-room {width: 175px;}
.uni-form-m-list {width: 300px;}
.uni-form-m-list .uni-form-dd-tabs {max-height: 410px;}
.uni-form-m-list .uni-form-dd-i {color: #1586ca;}

.uni-form-dd_active1, .uni-form-dd_active2 {z-index: 100;}
.uni-form-dd_active1 .uni-form-dd-list, .uni-form-dd_active2 .uni-form-dd-list {border: 1px solid #dcdcdc; background:#fff;}
.uni-form-dd_active2 .uni-form-dd-list-btn {border-left: 1px solid #f2f2f2; background: #fffbd8 url(../i/icon-list2.png) no-repeat 50% 50%;}
.uni-form-dd_active1 .uni-form-dd-cnt1 {display: block;}
.uni-form-dd_active1 .uni-form-dd-cnt3 {display: block;}
.uni-form-dd_active2 .uni-form-dd-cnt2 {display: block;}

.uni-form-dd-bt {padding: 10px; background: #f4f4f4; white-space:nowrap;}
.uni-form-dd-push {display: inline-block; height: 25px; padding: 0 10px; margin-right: 10px; color: #fff; font-size: 11px; font-weight: bold; text-decoration: none; text-transform: uppercase; line-height: 25px; background: #0b80c4;}
.uni-form-dd-reset {display: inline-block; height: 25px; color: #999; font-size: 11px; font-weight: bold; text-decoration: none; text-transform: uppercase; line-height: 25px;}

.uni-form-dd-cnt, .uni-form-calend-tab_active, .uni-form-dd_active1 .uni-form-dd-list, .uni-form-dd_active2 .uni-form-dd-list {box-shadow:0 0 9px rgba(0,0,0, 0.4);}

#overlay-uni {display: none; width: 100%; height: 100%; position: fixed; background: none; z-index: 50;}

.uni-form-reset {text-decoration:none;background:url(../i/dash-3488b2.png) repeat-x 0 bottom;}

.uni-form_search {padding:2px 0 0;}
.uni-form_search .uni-form-td-wrap-line {padding: 8px 5px 0; background: #bcd4e7;}
.uni-form_search .uni-form-td-wrap-last {padding: 5px; background: #bcd4e7;}
.uni-form_search .uni-form-row {padding: 0; margin-bottom: 1px; background: #fff;}
.uni-form_search .uni-form-td-wrap-last .uni-form-row {margin: 0;}
.uni-form_search .uni-form-td {height: 26px; padding: 0;}
.uni-form_search .uni-form-calend_first {background:url(../i/icon-def.png) no-repeat 43px 50%; position:relative;}
.uni-form_search .uni-form-dd-list {height: 26px; padding: 0 20px 0 5px; border: 0 none;}
.uni-form_search .uni-form-dd-list_arr {padding: 0 10px 0 5px;}
.uni-form_search .uni-form-dd-list .uni-form-dd-curr {height: 26px; color: #0b80c4; font-size: 11px; line-height: 26px; font-weight:bold;}
.uni-form_search .uni-form-dd-list-btn {width: 20px; height: 26px; }
.uni-form_search .uni-form-dd-inp {height: 26px; color: #0b80c4; font-size: 11px; font-weight: bold; line-height: 26px;}
.uni-form_search input.uni-form-dd-curr {padding: 0;}
.uni-form_search .uni-form-dd-list .uni-form-dd-wline {height: 5px;}
.uni-form_search .uni-form-capt {padding: 0 0 0 5px; font-size: 11px; position:relative; z-index:10;}
.uni-form_search .uni-form-btn {height: 27px; padding-right: 15px; font-size: 10px;}
.uni-form_search .sbHolder {height: 26px; color: #0b80c4; font-size: 11px; line-height: 26px; border: 0 none;}
.uni-form_search .uni-form-pp-td .sbHolder {font-size: 12px; border: 1px solid #dcdcdc;}
.uni-form_search .sbHolder .sbSelector {padding-left: 5px;}
.uni-form_search .selectBox-options li a  {padding: 4px 5px 5px; font-size: 11px;}
.uni-form_search .uni-form-dd-cnt  {top: 25px;}
.uni-form_search #uni-form-resort .uni-form-dd-cnt  {width: 175px;}
.uni-form_search #uni-form-to .uni-form-dd-cnt  {width: 175px;}
.uni-form_search #uni-form-hotel .uni-form-dd-cnt  {width: 350px;}
.uni-form_search .uni-form-calend-tab {display: inline-block; height: 26px; padding:0; margin:0; line-height: 26px;}
.uni-form_search .uni-form-calend-date {color: #0b80c4; font-size: 11px; font-weight: bold; position:relative; z-index:99; padding:0 0 0 2px;}
.uni-form_search .uni-form-td-dash {padding:0 5px; text-align:center;}
.uni-form-blue-p10 {padding-left:17px;}
.uni-form-blue-p10r {padding-right:17px;}

.uni-form_search .uni-form-dd-cnt, .uni-form_search .uni-form-calend-tab_active, .uni-form_search .uni-form-dd_active1 .uni-form-dd-list, .uni-form_search .uni-form-dd_active2 .uni-form-dd-list {box-shadow:0 0 5px rgba(0,0,0, 0.4);}

.uni-form-inp_r {color: #c8242b;}
.uni-form-inp_n {font-weight: normal;}
.uni-form-btn-wrap_tariff{
	width: 155px;
}
.uni-form-td_tariff {
	width: 155px;
}
.uni-form-plus {display:inline-block; width:5px; position:relative; font-size:12px; vertical-align:middle; margin:0 5px 0 0; top:-1px;}
.uni-form-minus {display:inline-block; width:5px; position:absolute; top:3px; left:2px;}
.uni-form-td-allavia-lb .uni-form-label {padding-right:17px;}
.uni-form-td-allavia-lb .uni-form-label:last-child {padding-right:0;}
.uni-form-blue .uni-form-btn-find {text-align:left; width:133px; padding-left:15px;}
.uni-form-sidebar .custom-select .sbToggle {width: 24px;}









.uni-form-pp-rel { position: relative; }
.uni-form-pp-rel54 { z-index: 54; }
.uni-form-pp-rel53 { z-index: 53; }
.uni-form-pp-top { border: 1px solid #fff; position: relative; padding: 8px 0 8px 10px; z-index: 56; border-bottom: 0; }
.uni-form-pp { border: 1px solid #dcdcdc; background: White; box-shadow: -2px 2px 6px -3px #999; position: absolute; top: 31px; left: 0; z-index: 55; display: none; }
.uni-form-pp33 { top: 33px; }
.uni-form-pp-submit { background: #f5f5f5; padding: 10px; }
.uni-form-pp-submit-a { background: #777; display: inline-block; color: White; font-size: 10px; font-weight: bold; line-height: 25px; padding: 0 10px; text-decoration: none; text-transform: uppercase; }
.uni-form-pp-rel-act .uni-form-pp-top { border: 1px solid #dcdcdc; border-bottom: 0; background: #fff; box-shadow: -4px -2px 6px -5px #999; }
.uni-form-pp-rel-act .uni-form-pp { display: block; }
.uni-form-pp-rel-act .uni-form-drop { background: #fff url(../i/arr-000000.png) no-repeat 100% 50%; }

.uni-form-pp-sel-a { border: 1px solid #dcdcdc; font-size: 12px; height: 32px; line-height: 32px; background: White; color: #000; display: block; outline: medium none; padding-left: 8px; padding-right: 19px; position: relative; text-align: left; text-decoration: none !important; vertical-align: top; z-index: 56; }
.uni-form-pp-sel-s1 { display: block; overflow: hidden; padding: 0; white-space: nowrap; width: 100%; }
.uni-form-pp-sel-s2 { background: url(../i/arr-000000.gif) no-repeat center; cursor: pointer; height: 100%; position: absolute; right: 0; top: 0; width: 19px; }
.uni-form-pp-rel-act .uni-form-pp-sel { box-shadow: -4px -2px 6px -5px #999; }
.uni-form-pp-rel-act .uni-form-pp-sel-a { box-shadow: -4px -2px 6px -5px #999; border-bottom-color: white; }
.uni-form-overlay, .form-overlay {position:absolute; width:100%; height:100%; background:#000; opacity:0.05; top:0; left:0; z-index:49; display:none;}

.uni-form-loader, .form-loader {position:absolute; width:32px; height:32px; background:url(../i/loading.gif) no-repeat; top:50%; left:50%; margin:-16px 0 0 -16px; z-index:100; display:none;}
.uni-form-active .uni-form-overlay {display:block;}
.uni-form-active-loader .uni-form-overlay {display:block;}
.uni-form-active-loader .uni-form-loader {display:block;}


.uni-form-wblue {background:#bcd4e7;}
.uni-form-wblue .uni-form-td-wrap {border-bottom-color:#bcd4e7; background:#e0f1ff;}
.uni-form-wblue .uni-form-td-wrap-line {background:#e0f1ff;}
.uni-form-wblue .uni-form-pp-top {border-color:#e0f1ff;}
.uni-form-wblue .uni-form-btn {background:#0b80c4 url(../i/btn-uni-4.gif) no-repeat right 50%; height:34px;}
.uni-form .uni-form-sel-green {color:#21A60F;}


.uni-form-bl {background: #bcd4e7;}
.uni-form-bl .uni-form-td-wrap {background: #bcd4e7;}
.uni-form-bl .uni-form-td-wrap-line {background: #bcd4e7;}
.uni-form-bl .uni-form-pp-top {border-color: #bcd4e7;}
.uni-form-bl .selectBox-label {background:#bcd4e7;padding:0 0 0 10px;}
.uni-form-bl .sbHolder {border-color: #fff;}
.uni-form-bl .uni-form-list {border-color: #fff;}
.uni-form-bl .uni-form-inp-wrap {border-color: #fff;}
.uni-form-bl .uni-form-grey {color: #000;}

.uni-form-bl .sbHolder .sbToggle {background:#bcd4e7 url(../i/sel-drop-big.png) no-repeat 50% center;}
.uni-form-bl .uni-form-inp, .uni-form-bl .uni-form-list, .uni-form-bl .uni-form-inp-wrap, .uni-form-bl .uni-form-pp, .uni-form-bl  .uni-form-pp-submit {background:#bcd4e7;}
.uni-form-bl .uni-form-pp-sel-a {background:#bcd4e7;border:1px solid #fff;}
.uni-form-bl .uni-form-list-btn {background:#bcd4e7 url(../i/icon-list.png) no-repeat 50% 50%;border-left:1px solid #bcd4e7;}
.uni-form-bl .selectBox-menuShowing .selectBox-label, .uni-form-bl .selectBox-change .selectBox-label {background:#fff;}
.uni-form-bl .selectBox-menuShowing .sbToggle, .uni-form-bl .selectBox-change .sbToggle {background:#fff url(../i/sel-drop-big.png) no-repeat 50% center;}
.uni-form-bl .uni-form-pp-rel-act .uni-form-pp-sel-a, .uni-form-bl .uni-form-pp-rel-act .uni-form-pp, .uni-form-bl  .uni-form-pp-rel-act .uni-form-pp-submit {background:#fff;}
.uni-form-bl .uni-list-white, .uni-form-bl .uni-list-white .uni-form-inp {background:#fff;}
.uni-form-bl .uni-list-white .uni-form-list-btn {background:#fff url(../i/icon-list.png) no-repeat 50% 50%;border-left:1px solid #fff;}
.uni-form-bl .uni-form-inp-wrap-white, .uni-form-bl .uni-form-inp-wrap-white .uni-form-inp {background:#fff;}
.uni-form-bl .uni-form-inp-wrap-white .uni-form-list-btn {background-color:#fff; border-left:1px solid #fff;}

.uni-form-bl .uni-form-inp::-moz-placeholder {color: #000; font-weight: normal;}
.uni-form-bl .uni-form-inp::-webkit-input-placeholder {color: #000; font-weight: normal;}

.uni-form_e7e2f0 {
	background: #e7e2f0;
}

.uni-form-td-butsearch {width: 260px; height: 34px; padding: 0 3px 3px 8px;}

.uni-form-td-wrap-line_e7e2f0 {
	border-bottom: 1px solid #e7e2f0;
}

.uni-form-td-wrap_e7e2f0 {
	border-bottom: 5px solid #e7e2f0;
	background: #ffffff;
}

.uni-form-label_c8242b {
	padding: 0 0 0 10px;
	font-size: 12px;
	font-weight: normal;
	font-family: Arial, sans-serif;
	color: #c8242b;
}

.uni-form-label_black {
	padding: 0 0 0 10px;
	font-size: 12px;
	font-weight: normal;
	font-family: Arial, sans-serif;
	color: #000000;
}

.uni-form-inp_normal {
	font-weight: normal;
}

.uni-form-dd-inp_999999 {
	color: #999999;
	font-weight: normal;
}

.uni-form-btn_blue {
	width: auto;
	padding: 0 34px 0 15px;
	background:#0b80c4 url(../i/btn-uni-4.gif) no-repeat right 50%;
	height: 34px;
}

.uni-form-td-indent2 {
	padding-left: 30%;
}

.uni-form-td_top {
	padding-top: 8px;
	vertical-align: top;
}

.uni-form-sidebar {
	padding: 10px 10px 0 25px;
	margin: 0;
}

.uni-form-sidebar .uni-form-td-wrap {
	border-bottom: 10px solid #bcd4e7;
}

.uni-form-sidebar .uni-form-td-wrap-line {
	border-bottom: 1px solid #bcd4e7;
	position: relative;
}

.uni-form-sidebar .uni-form-td {
	height: 20px;
}

.uni-form-sidebar .uni-form-sel-red {
	height: 20px;
	line-height: 18px;
	border: none;
	font-size: 11px;
}

.uni-form-sidebar .sbHolder .sbSelector {
	padding: 1px 0 0 7px;
	width:111px;
}

.uni-form-sidebar .uni-form-sel-red .sbToggle{
	background: url(../i/sel-drop-big.png) 50% center no-repeat;
}

.uni-form-sidebar .uni-form-sel-blue {
	height: 20px;
	line-height: 18px;
	border: none;
	font-size: 11px;
	color: #0b80c4;
	font-weight: bold;
}

.uni-form-sidebar .uni-form-sel-blue .sbSelector {color: #0b80c4;}

.uni-form-sidebar .uni-form-list {
	height: 20px;
	border: none;
	padding: 0 30px 0 7px;
}

.uni-form-sidebar .uni-form-list_after {
	height: 20px;
	line-height:20px;
	border: none;
	padding: 0 30px 0 0px;
}

.uni-form-sidebar .uni-form-list-btn {
	height: 26px;
	width: 30px;
	top: -3px;
	right: -3px;
	padding: 0;
}

.uni-form-sidebar .uni-form-inp {
	height: 20px;
	line-height: 20px;
}

.uni-form-sidebar .uni-form-inp {
	font-size: 11px;
}

.uni-form-sidebar .uni-form-inp_blue-bold {
	color: #0b80c4;
	font-weight: bold;
}

.uni-form-sidebar .uni-form-inp_blue {
	color: #0b80c4;
	font-weight: normal;
}

.uni-form-sidebar .uni-form-inp_grey {
	font-size: 11px;
	color: #999999;
}

.uni-form-sidebar .uni-form-var {
	padding: 0 0 0 7px;
	font-size: 11px;
	color: #000000;
}

.uni-form-sidebar .uni-form-a-blue {
	color: #0b80c4;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
}

.uni-form-sidebar .uni-form-a-blue:hover {
	text-decoration: underline;
}

.uni-form-sidebar .uni-form-calend-sep {
	color: #999999;
}

.uni-form-sidebar .uni-form-calend-tab {
	height: 20px;
	padding: 0 1px;
	line-height: 20px;
	border: none;
}

.uni-form-sidebar .uni-form-dd-cnt {
	top: 23px;
	left: -3px;
}

.uni-form-sidebar .uni-form-row_hidden {
	padding-top: 0;
}

.uni-form-sidebar .uni-form-options {
	padding: 0 7px 0 7px;
}

.uni-form-sidebar .uni-form-options-list {
	border-top: 1px solid #dddddd;
	padding: 7px 0 6px 0;
}

.uni-form-sidebar .uni-form-options-item {
	padding: 1px 0 2px 0 ;
	height: 15px;
	line-height: 15px;
	overflow:hidden;
}

.uni-form-sidebar .uni-form-var_green {
	color: #66a449;
	padding: 0;
}

.uni-form-sidebar .uni-form-td-wrap-last .uni-form-td {padding:0 0 10px;}
.uni-form-sidebar .uni-form-td-wrap-last .uni-form-row {padding:0;}
.uni-form-sidebar .uni-form-btn {height: 27px; padding-right: 15px; font-size: 10px;}
.uni-form-sidebar .uni-form-row-line {border-bottom:1px solid #BCD4E7;}
.uni-form-sidebar .sbOptions {top:23px !important; width:143px !important; left:-3px;}
.uni-form-sidebar .uni-form-dd-nwrap .uni-form-inp {width:102px; display:block; white-space:nowrap; overflow:hidden;}


.uni-form-options-list {
	display: none;
}

.hidden-var_1-container {
	display: none;
}

.hidden-var_2-container {
	display: none;
}

.hidden-var_3-container {
	display: none;
}

.hidden-var_4-container {
	display: none;
}

.hidden-var_5-container {
	display: none;
}


.uni-form-sidebar .uni-form-label_sidebar {
	padding-left: 7px;
	height: 20px;
	margin: 0;
}

.uni-form-label_sidebar .uni-form-var {
	padding-left: 0;
}

.uni-form-revert {
	padding: 10px 0 10px 25px;
	background: #a9becf;
	margin-bottom: 20px;
}

.uni-form-revert-link {
	font-size: 11px;
	color: #ffffff;
	text-decoration: none;
	background: url('../i/dash-ffffff.png') 0 12px repeat-x;
}

.uni-form-sidebar .uni-form-calend-tab {
	height: 20px;
	padding: 0;
	margin: 0;
	line-height: 20px;
	border: none;
}

.uni-form-sidebar .uni-form-calend-tab_active {
	display: inline-block;
	box-shadow: none;
}

.uni-form-sidebar .uni-form-dd_active1 .uni-form-dd-list {
display: inline-block;
	box-shadow: none;
}
.uni-form-sidebar .uni-form-dd-curr {
	display: inline-block;
	background: none;
	padding: 0 30px 0 0;
}

@-moz-document url-prefix() 
{ 
.uni-form-tbl-wrap {border-collapse:separate;} 
} 

.uni-form_0b80c4 {
	background: #0b80c4;
}

.uni-form_0b80c4 .uni-form-td-wrap-line {
border-bottom: 1px solid #0b80c4;
}

.uni-form_0b80c4 .uni-form-td-wrap {
border-bottom-color: #0b80c4;
}

.uni-form-inp_norm {
	font-weight: normal;
}

.uni-form-calend-ico {
	display: inline-block;
	width: 7px;
	height: 7px;
	margin-left: 5px;
	background: url('../i/calend-ico.png') 50% 50% no-repeat;
}

.uni-form-sel_bold .sbSelector {
	font-weight: bold;
}

.uni-form-pp-sel-s1_bold {
	font-weight: bold;
}

.uni-form-tbl_left {
	float: left;
}

.uni-form-blue-link {
	font-size: 12px;
	color: #0b80c4;
	text-decoration: none;
}

.uni-form-blue-link:hover {
	text-decoration: underline;
}

.uni-form-td_nopr {
	padding-right: 0;
}

.uni-form-sel_bold {
	font-weight: bold;
}

.uni-form_0b80c4 {
	background: #0b80c4;
}
.uni-form-btn_red {
	background: #C8242B;
	padding: 0px 15px;
	height: 34px;
	width: auto;
}

.uni-form-btn_0B80C4 {
	background: #0B80C4;
	padding: 0px 15px;
	height: 34px;
	width: auto;
}

.uni-form-btn_F9F2C2 {
	background: #F9F2C2;
}

/*prog's styles*/
li.uni-form-dd-i>.uni-form-label { margin: -8px -10px -7px; padding: 8px 10px 7px; display: block; }
.uni-form-dd-i .uni-form-var { margin-right: 50px;}
.uni-form_search .uni-form-td-dash { padding: 0 5px; text-align: center; }
.uni-form-td-33per { width: 33%; }

.uni-form-list-btn {display: block; width: 30px; height: 32px; position: absolute; top: 0; right: 0; border-left: 1px solid #fff; background: #fff url(../i/icon-list.png) no-repeat 50% 50%;}
multicheckbox .uni-form-list-btn { background: #fff url(../i/icon-list.png) no-repeat 50% 50%; }
.uni-form-list-btn:hover { border-left: 1px solid #f2f2f2; background-color: #fffbd8;}
multicheckbox .uni-form-list-btn:hover { background: #fffbd8 url(../i/icon-list2.png) no-repeat 50% 50%;}
.uni-form-check-group {color:#999; display: inline-block;}
.uni-form-dd-curr {display: block; height: 30px; padding: 0 10px 0 0; color: #010101; font-size: 12px; line-height: 27px; background: url(../i/sel-drop-big.png) no-repeat 100% 50%; cursor: pointer;}
.uni-form-dd-list-btn {display: block; width: 30px; height: 31px; position: absolute; top: 0; right: 0; border-left: 1px solid #fff; background: #fff url(../i/icon-list.png) no-repeat 50% 50%; z-index:301;}
multicheckbox .uni-form-dd-list-btn {display: block; width: 30px; height: 31px; position: absolute; top: 0; right: 0; border-left: 1px solid #fff; background: #fff url(../i/icon-list.png) no-repeat 50% 50%; z-index:301;}
.uni-form-dd-list-btn:hover {border-left: 1px solid #f2f2f2; background-color: #fffbd8;}
multicheckbox .uni-form-dd-list-btn:hover {background: #fffbd8 url(../i/icon-list2.png) no-repeat 50% 50%;}
multicheckbox .uni-form-dd_active2 .uni-form-dd-list-btn {border-left: 1px solid #f2f2f2; background: #fffbd8 url(../i/icon-list2.png) no-repeat 50% 50%;}


/*uni-form_operator*/

.uni-form_operator {
color: #000000;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
background: #bcd4e7;
padding: 0 3px 0;
position: relative;
margin: 0;
}

.operator-form-header {
	height: 32px;
	line-height: 32px;
	padding: 0 10px 0 12px;
	overflow: hidden;
}
.operator-form-header_empty {
	height: 15px;
}

.operator-form-header-button {
	display: block;
	float: left;
	padding-left: 16px;
	font-size: 11px;
	color: #0b80c4;
	text-decoration: none;
	margin-right: 10px;
}

.operator-form-header-button:hover {
	text-decoration: underline;
}

.operator-form-header-button_journal {
	color: #000;
	background: url('../i/operator-search2.png') 0 50% no-repeat;
}

.operator-form-header-button_bookmark {
	color: #000;
	background: url('../i/operator-bookmark2.png') 0 50% no-repeat;
}

.operator-form-header-button_more{
	background: url('../i/operator-more.png') 0 50% no-repeat;
	margin: 0;
	float: right;
	color: #c8252d;
	font-weight: bold;
	text-decoration: underline;
}

.operator-form-header-button_more:hover {
	text-decoration: none;
}

.uni-form_operator .uni-form-dd-list {
	height: 27px;
	padding: 0 35px 2px 10px;
	position: relative;
	border: 1px solid #bcd4e7;
	background: #fff;
}

.uni-form_operator .uni-form-td-wrap-line_op-top .uni-form-dd-list {
	height: 29px;
	padding: 0 35px 0 10px;
	position: relative;
	border: 1px solid #ffffff;
	background: #fff;
}

.uni-form_operator .uni-form-dd-inp {
	width: 100%;
	height: 27px;
	padding: 0;
	margin: 0;
	color: #010101;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 27px;
	border: 0 none;
	background: #fff;
	outline: 0 none!important;
}

.uni-form_operator .uni-form-dd-inp_green {
	font-weight: bold;
	color: #24a027;
}

.uni-form_operator .uni-form-dd-list-btn {
	height: 29px;
	background: #fff url(../i/icon-list.png) no-repeat 50% 50%;
}

.uni-form-td-wrap-line_op-top {
	border-bottom: none;
	background: #d7e5f1;
}

.uni-form-td-wrap-line_op-top  .uni-form-row {
	padding: 5px 0 0 5px;
}

.uni-form-td-wrap-line_op-top .uni-form-td {
	height: 31px;
	padding: 0 5px 0 0;
}

.uni-form-td-wrap-line_op-sec {
	border-bottom: none;
	background: #d7e5f1;
}

.uni-form-td-wrap-line_op-sec  .uni-form-row {
	padding: 2px 0 0 5px;
}

.uni-form-td-wrap-line_op-sec .uni-form-td {
	height: 30px;
	padding-right: 3px;
}

.uni-form_operator .uni-form-calend-tab {
	border: none;
}

.uni-form_operator .uni-form-dd-list_operator {
	height: 30px;
	padding: 0px 25px 0px 15px;
	position: relative;
	border: none;
	background: none;
}

.uni-form-dd-list_operator .uni-form-dd-curr {
	background: none;
	line-height: 30px;
}

.uni-form_operator .uni-form-dash-0b80c4 {
color: #000000;
text-decoration: none;
background: url(../i/dashed-000000.gif) repeat-x 0 100%;
}

.uni-form-operator-chooser {
	height: 30px;
	line-height: 30px;
	padding-right: 5px;
}

.uni-form-operator-chooser_parents {
	background: url('../i/operator-parents.png') 0 50% no-repeat;
	padding-left: 27px;
}

.uni-form-operator-chooser_kids {
	background: url('../i/operator-kids2.png') 0 50% no-repeat;
	padding-left: 34px;
}

.uni-form-operator-chooser-link {
	font-size: 12px;
	color: #24a027;
	font-weight: bold;
	text-decoration: none;
	background: url('../i/dash-24a027.gif') 0 100% repeat-x;
}

.uni-form-td-wrap-line_third {
	border: none;
}

.uni-form-td-wrap-line_third .uni-form-row {
	padding: 5px 0 0 5px;
}

.uni-form-td-wrap-line_third .uni-form-td {
	height: 31px;
	padding: 0 5px 5px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.uni-form-td-wrap-line_third .uni-form-check-group {
	border: 1px solid #bcd4e7;
	padding-left: 6px;
	height: 29px;
	display: block;
	overflow: hidden;
	background: #fff;
}

.uni-form-td-wrap-line_third .uni-form-check-group .uni-form-label {
margin: 0 7px 0 0;
line-height: 29px;
height: 31px;
display: block;
float: left;
white-space: nowrap;
border: none;
}
.uni-form-check-group-td-rubber {
	overflow:hidden
}
.uni-form-check-group-td-fixed {
	vertical-align:top;
}

.uni-form-td-wrap-line_third  .uni-form-var {
	line-height: 29px;
}

.uni-form-td-wrap-line_third .uni-form-check {
	margin: 0;
}

.uni-form-var_0b80c4 {
	color: #0b80c4;
}

.uni-form_operator .sbHolder {
font-size: 12px;
height: 29px;
line-height: 29px;
border: 1px solid #bcd4e7;
width: auto;
}

.uni-form_operator .sbToggle {
position: absolute;
top: 0;
right: 0;
width: 16px;
height: 100%;
background: url(../i/sel-drop-big.png) 50% center no-repeat;
}

.uni-form_operator .sbSelector {
padding: 0 0 0 10px;
display: block;
white-space: nowrap;
overflow: hidden;
margin: 0 16px 0 0;
color: #000;
text-decoration: none;
width: auto;
}

.uni-form_operator .uni-form-sel_rating .sbSelector {
padding: 0 0 0 24px;
display: block;
white-space: nowrap;
overflow: hidden;
margin: 0 16px 0 0;
color: #000;
text-decoration: none;
background: url('../i/operator-rating.png') 5px 50% no-repeat;
}

.uni-form-td-wrap-line_forth {
	border: none;
}

.uni-form-td-wrap-line_forth .uni-form-row {
	padding: 0 0 0 5px;
}

.uni-form-td-wrap-line_forth .uni-form-td {
	height: 31px;
	padding: 0 5px 5px 0;
	line-height: 31px;
}

.uni-form_operator .uni-form-td-wrap_bot {
	background: #c9ddec;
	border-bottom: 3px solid #bcd4e7;
}

.uni-form-td-wrap_bot .uni-form-row {
	padding: 5px 0 0 5px;
}

.uni-form-td-wrap_bot .uni-form-td {
	height: 28px;
	padding: 0 4px 5px 0;
	line-height: 28px;
}

.uni-form_operator .uni-form-td-wrap_bot .sbHolder {
padding-left: 10px;
font-size: 12px;
height: 28px;
line-height: 28px;
border: none;
width: auto;
background: #c9ddec;
float: left;
}

.uni-form_operator .uni-form-td-wrap_bot .sbSelector {
padding: 0;
display: block;
white-space: nowrap;
overflow: hidden;
margin: 0 16px 0 0;
color: #566775;
text-decoration: none;
background: url('../i/dash-566775.png') 0 20px repeat-x;
width: auto;
}

.uni-form_operator .uni-form-td-wrap_bot .sbToggle {
background: url(../i/sel-drop-big-566775.png) 50% center no-repeat;
}


.uni-form-sel-566775 .sbOptions a {
background: #C9DDEC;
}

/* 
.uni-form_operator .uni-form-btn {
	padding: 0 20px 0 12px;
	width: auto;
	float: right;
	position: relative;
	height: 28px;
	line-height: 28px;
	font-size: 11px;
	color: #c8242b;
	font-weight: bold;
	background: -moz-linear-gradient(top,  #ffffff 0%, #dadada 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dadada)); 
	background: -webkit-linear-gradient(top,  #ffffff 0%,#dadada 100%); 
	background: -o-linear-gradient(top,  #ffffff 0%,#dadada 100%); 
	background: -ms-linear-gradient(top,  #ffffff 0%,#dadada 100%); 
	background: linear-gradient(to bottom,  #ffffff 0%,#dadada 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadada',GradientType=0 ); 
	 
	-webkit-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.05);
	-moz-box-shadow:    0px 1px 1px rgba(50, 50, 50, 0.05);
	box-shadow:         0px 1px 1px rgba(50, 50, 50, 0.05);

}
.uni-form-btn-arr {
	display: block;
	position: absolute;
	background-image: url(../i/arrow-red-right.png); 
	background-position: right 50%;
	background-repeat: no-repeat;
	width: 6px;
	height: 9px;
	top: 9px;
	right: 7px;
}
*/

.uni-form_operator .uni-form-btn_fix {
	display: block;
	width: 124px;
	height: 28px;
	float: right;
	font-size: 0;
	text-indent: -99999px;
	background: url(../i/btn-search-res.png) no-repeat 0 0;
}

.uni-form_operator .uni-form-btn_fic:hover {background-position: 0 50%}
.uni-form_operator .uni-form-btn_fix:active {background-position: 0 100%}


.uni-form-td-wrap_last .uni-form-ext-link {color: #fff;}
.uni-form-ext-link {color: #c8242b;}
.uni-form_operator .uni-form-inp {
	height: 29px;
}

.uni-form-td-wrap_last .uni-form-ext-link {color: #fff;}
.uni-form-ext-link {color: #c8242b;}
.uni-form_operator .uni-form-inp-wrap {
	border: 1px solid #BCD4E7;
	border-bottom-color: #e9e9e9;
	display: block;
	height: 29px;
	padding-left: 6px;
}

.uni-form_operator .uni-form-multi-wrap {
	height: 107px;
	overflow-y: scroll;
	border: 1px solid #BCD4E7;
	border-top: none;
}
.uni-form_operator .uni-form-multi-wrap_big {
	height: 290px;
} 
.uni-form_operator .uni-form-multi-wrap_nohead {
	height: 137px;
	border: 1px solid #BCD4E7;
}
.uni-form-multi-li {
	border-bottom: 1px solid #F2F2F2;
	cursor: pointer;
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	padding: 0 0 0 6px;
	height: 25px;
}
.uni-form_operator .uni-form-multi .uni-form-label {
	color: #000000;
	cursor: pointer;
	display: block;
	margin: 0px 7px 0px 0px;
	overflow: hidden;
}
.uni-form-multi-span {
	line-height: 25px;
	font-size: 12px;
}
.uni-form-multi-li-right {
	float:right;
	height: 25px;
	line-height: 25px;
}
.uni-form-multi-plus {

	background: url(../i/plus-ico.png) 50% 50% no-repeat #fff;
	width: 25px;
	height: 25px;
	display: block;
	float:left;
}
.uni-form-multi-rate {
	background: #f8f8f8;
	width: 35px;
	display: block;
	float:left;
	text-align: center;
	font-size: 10px;
}
.uni-form-multi-rate_green{
	color: #66a449;
}
.uni-form-multi-rate_yellow{
	color: #c3b453;
}
.uni-form-multi-rate_red{
	color: #a87575;
}

.uni-form_operator .uni-form-td-wrap-line_op-top .uni-form-sel {
	border: 1px solid #ffffff;
}

.uni-form_operator .uni-form-td-wrap-line_op-top .uni-form-dd-inp {
padding-top: 1px;
}

.uni-form_operator .uni-form-td-wrap-line_forth .uni-form-dd-inp {
vertical-align: top;
padding-top: 1px;
}


.uni-form_request {
	background: transparent;
	padding: 0;
	margin: 0;
}
.uni-form-td-wrap-line_req-top {
	background: transparent;
	border-bottom: none;
}
.uni-form_request .uni-form-row {
	padding: 0;
}
.uni-form_request .uni-form-td { 
height: 34px;
padding: 0 0 5px 0;
}

.uni-form-top-shadow-hide {
	background: #FFFFFF;
	bottom: 1px;
	height: 8px;
	left: 0px;
	position: absolute;
	width: 100%;
	z-index: 111;
}

.uni-form-td-wrap-line_op-sec .uni-form-check-group,
.uni-form_operator .uni-form-td-wrap-line_op-sec .sbHolder {
	border: none;
}


.bonus-hotel-order-tbl .uni-form-calend-tab {
	border:none;
}
.uni-form_operator .uni-form-btn {height: 30px;}
@media screen and (max-width: 1024px) {
	.uni-form_operator .mobile-hidden { display:none!important;}
	.uni-form_operator .mobile-visible {display: table-cell!important;}
	.uni-form_operator .uni-form-multi-wrap_big {height: 251px;}
	.uni-form_operator .mobile-collapse-33 {width: 33%;}
}

.uni-form-566775 {color: #566775;}