html, body, .page-wrap {height: 100%;}
body {background: #575757;}
body, input, textarea, select {color: #444; font-size: 12px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;}
a {color: #1587ca;}
a:hover {text-decoration: none;}
h2 {margin-bottom: 15px; font-size: 22px;}
small {font-size: 11px;}

.page-wrap {min-width: 980px; max-width: 1260px; margin: 0 auto;}
.page {min-height: 100%; background: #fff; box-sizing: border-box;}
.page-wrap-alt {min-width: 1534px; max-width: 1814px;}
.page-wrap-alt2 {min-width: 1430px; max-width: 1710px;}
.page-alt {min-width: 980px; max-width: 1260px; position: relative;}
.page-header {/*position: fixed;*/ width: 100%; min-width: 980px; max-width: 1260px; z-index:200;}
.page-header-alt {width: 980px; position: absolute;}
/*.page-body {padding-top: 147px;}*/
.page-body-tbl {width: 100%;}
.page-body-pad15 {padding:0 15px;}
.page-body-tr {}
	.aside-l {width: 220px; padding: 0; vertical-align: top; background: #fff;}
	.aside-l-cnt {width: 205px; padding: 0 0 40px 15px;}
	.aside-l-cnt_alt {padding: 0 0 40px 10px;}
	.aside-r {width: 195px; padding: 0; vertical-align: top; background: #fff;}
	.aside-r1 {width:280px; padding: 0; vertical-align: top; background: #fff;}
	.aside-r-cnt {padding: 0 0 0 15px;}
	.aside-r1 .aside-r-cnt {padding: 0 0 0 30px;}
	.aside-r-cnt_alt {padding: 32px 10px 0 0;}
	.aside-r_prs {width: 15%;}
	.content {padding: 0; vertical-align: top;}
	.content-cnt {padding: 15px 15px 40px 15px;}
	.content-cnt_alt {padding: 15px 10px 40px 5px;}
	.content-cnt-s1 {padding: 15px 0 40px; overflow:hidden; position:relative;}
	.content-cnt-allavia {padding:0 15px 40px 15px;}
.page-footer { clear: both; background: #f1f1f1; }
.page-footer-264px { margin: -264px 0 0; }

.banner-center-left {padding:0 20px 0 0;}

.fixed-l {
	width: 329px; vertical-align: top;
}

.fixed-r {
	width: 210px; vertical-align: top;
}
.m5t {
	margin-top: 5px;
}
.m5b {
	margin-bottom: 5px;
}
.m10t {
	margin-top: 10px;
}
.m10b {
	margin-bottom: 10px;
}
.m15t {
	margin-top: 15px;
}
.m15b {
	margin-bottom: 15px;
}
.m20t {
	margin-top: 20px;
}
.m20b {
	margin-bottom: 20px;
}


.group-case {padding: 15px 0;}
hr {clear: both; padding: 0; margin: 0; border: 0 none; background: none repeat scroll 0 0 transparent;}
#overlay { left: 0px; top: 0px; width: 100%; height: 100%; position: fixed; z-index: 50; opacity: 0.5; }

@font-face {
	font-family: 'Conv_ProximaNova-Light';
	src: url('../fonts/ProximaNova-Light.eot');
	src: local('???'), url('../fonts/ProximaNova-Light.woff') format('woff'), url('../fonts/ProximaNova-Light.ttf') format('truetype'), url('../fonts/ProximaNova-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

#overlay_white { background: url("/task/i/px.gif") repeat scroll 0 0 White; height: 100%; left: 0; opacity: 0.6; position: fixed; top: 0; width: 100%; z-index: 50; }
#overlay_black { background: url("/task/i/px.gif") repeat scroll 0 0 Black; height: 100%; left: 0; opacity: 0.1; position: fixed; top: 0; width: 100%; z-index: 50; }

.page-inner { padding: 0 25px 0 25px; }
