<!DOCTYPE html>
<html ng-app="moduleSelectBox">
<head>
    <meta charset="utf-8" />
    <title>Выпадающий список на angularJS</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/reset-ls.css" />
    <link rel="stylesheet" href="css/b-uni-form.css" />
    <script type="text/javascript" src="js/angular.min.js"></script>
    <!--script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script-->
    <script type="text/javascript" src="js/select-box.js"></script>
</head>
<body>
<div style="padding: 50px;float: left;">
    <select-box
            source="json/data_source.json"
            none-label="Город вылета"
            ng-model="result"
            sourse-type="cities"
            used-shortcut="yes"
    ></select-box>
</div>
<div style="padding: 50px;float: left;">
    <select-box
            source="json/data_source.json"
            none-label="Страна прибытия"
            ng-model="result2"
            sourse-type="countries"
            used-shortcut="yes"
    >
    </select-box>
</div>
<h1 ng-show="result">город вылета:{{result}}</h1>
<h1 ng-show="result2">Страна прибытия:{{result2}}</h1>
</body>
</html>
