<div id="uni-form-country" class="uni-form-dd uni-form-m-list uni-form-dd_active1" >
    <div class="uni-form-dd-list uni-form-dd-list_arr" ng-click="setDropdown()"><span class="uni-form-dd-curr">{{selectedText}}</span><span class="uni-form-dd-wline"></span></div>
    <div class="uni-form-dd-cnt uni-form-dd-cnt1" ng-show="dropdown">
        <div class="uni-form-dd-cnt-dot">
            <div class="uni-form-dd-tabs-wrap">
                <ul class="uni-form-dd-abc">
                    <li class="uni-form-dd-abc-i" ng-repeat="letter in letters"><a href="#" class="uni-form-dd-abc-i-a"   ng-click="setFilter(letter)">{{letter}}</a></li>
                </ul>
                <div class="uni-form-dd-tabs uni-form-dd-tabs_val">
                    <ul class="uni-form-dd-tab">
                        <li ng-class="{'uni-form-dd-i_active': data.active}" class="uni-form-dd-i" ng-repeat="data in dataJSON | startLetter:query | orderBy:'name'" ng-click="selectItem(data)">{{data.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>